h1 {
  text-align: center;
}

#Projects{
  display: flex;
  justify-content: center;
  align-items: center;
}

#Skills{
  display: flex;
  justify-content: center;
  align-items: center;
}

#Experience{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#MailingField{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}