.navbarWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 3%;
    width: 40%;
    background-color: lightgrey;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: lightgrey;
    z-index: 1000;
}

.navbar button {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.navbar button:hover {
    color: black;
}

.navbar button.active {
    background-color: white;
    /* 活动按钮的背景颜色 */
    color: black;
    border-radius: 50px;
    padding: 10px;
}