.logo-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo-row {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.logo-item img {
    height: 100px;
    width: auto;
    transition: transform 0.3s ease; 
}

.logo-item img:hover {
    transform: scale(1.1); 
    cursor: pointer; 
}
